body {
  background: url("../assets/img/background.jpeg") repeat;
}

#menu-page, #high-scores-page, #about-page, #canvas, #game-over-box {
  position: absolute;
  background: url("../assets/Backgrounds/blue.png") repeat;
  color: #00a8b8;
  width: 600px;
  height: 700px;
  text-align: center;
}

h1 {
  font-size: 3.8em;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 2em;
}

#about-page li, #about-page p {
  margin: 5px;
}

#about-page ul {
  margin: 0;
}

#credits-h2 {
  margin-bottom: 17px;
}

.about-li {
  padding-top: 2px;
  font-size: 0.5em;
}

a {
  text-decoration: none;
  color: #00f2e5;
}

a:visited {
  color: #00f2e5;
}

a:hover {
  color: #1bd258;
}

.light-grey {
  color: #1bd258;
}

.about-li a {
  color: #1bd258;
}


.hide {
  display: none;
}

.show {
  display: block;
}